{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block 'title' %}{% endblock 'title' %}
{% block 'content' %}

<section class="inner-page" id="contact-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>مقایسه محصول</h1>
                            <p>محصولات را با هم مقایسه کنید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href={% url 'root:home' %}>صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">مقایسه محصول</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-none d-lg-block" id="compare-table">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <div id="products-compared">
                                <div class="row mt-2 bg-white">
                                    
                                    {% for comparison in comparisons %}
                                    <div class="col-3 px-2 pb-2 products-compare-item">
                                        <div class="bg-light p-2 text-center">
                                            <a href="#" class="remove-from-compare" data-id="{{ comparison.product.id }}"><div class="btn btn-sm btn-outline-secondary btn-cancel-compare float-left rounded-circle">X</div></a>
                                            <div><img src={{comparison.product.img1.url}} alt=""></div>
                                            <div class="title">{{comparison.product.name}}</div>
                                            <div class="price-container">
                                               {% if comparison.product.has_discount %}
                                                <span class="price">{{compare.product.get_discounted_price}} تومان</span>
                                                {% else %}
                                                <span class="price">{{compare.product.price}} تومان</span>
                                                {% endif %}

                                            </div>
                                            <div class="cta-container">
                                                <a href={% url 'product:product-detail' pk=comparison.product.id %}>
                                                    <div class="btn btn-sm btn-primary px-3 px-lg-2 px-xl-4">مشاهده و خرید محصول</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="compare-table-details">
                        <div class="col-12 px-lg-0 compare-detail">
                            {% for comparison in comparisons %}
                                <div class="bg-light-yellow px-2 py-1 rounded compare-specs" data-id="{{ comparison.product.id }}">
                                    <span class="detail-title"><i class="fa fa-chevron-left small"></i> {{comparison.product.name}}</span>
                                </div>
                                {% for spec in comparison.product.get_specifications %}
                                    <div class="row mb-2 compare-specs" data-id="{{ compare.product.id }}">
                                        <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">{{comparison.attribute.name}} : {{spec.value}}</div></div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="mobile-forbidden" class="d-lg-none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container px-lg-0">
                        <div class="row mb-0 mb-sm-5">
                            <div class="col-12 px-0">
                                <div class="row">
                                    <div class="col-12 p-5 text-center">
                                        <span>این صفحه در موبایل قابل مشاهده نمی باشد.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock 'content'%}